* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--background: rgb(22, 22, 22);
	--background-secondary: rgb(28, 28, 28);
	--background-third: rgb(44, 44, 44);
	--heading: #ffffff;
	--heading-secondary: #6a6b6e;
	--text: #998f8f;
	--orange: rgb(244, 108, 56);

	/* Fonts */
	--font-heading: "Bebas Neue", serif;
	--font-heading-secondary: "Oswald", serif;
	--font-text: "Roboto", serif;

	/* Sizes */
	--size-heading: 2.5rem;
	--size-sub-heading: 1.5rem;
	--size-text: 1rem;
	/* --text-primary: rgb(246, 246, 246);
	--background-light: rgb(246, 246, 246);
	--text-muted: rgb(133, 133, 133);
	--background-dark: rgb(28, 28, 28);
	--background-darker: rgb(44, 44, 44);
	--background-darkest: rgb(36, 36, 36);
	--background-medium: rgb(43, 43, 43);
	--background-medium-dark: rgb(57, 57, 57);
	--overlay-dark: rgba(22, 22, 22, 0.9);
	--accent-bright: rgb(182, 255, 27);
	--accent-light: rgba(182, 255, 27, 0.12);
	--accent-lighter: rgba(182, 255, 27, 0.16); */

	/* --text-heading-secondary: #b6b4bd33;
	--heading-primary: #ffffff; */

	/* #998f8f */
	/* #f46c38 */
	/* #151312 */
	/* #FFFFFF08 */
}

body {
	font-family: "Poppins", sans-serif;
	background-color: #000000;
}

#header {
	min-height: 110px;
	width: 100%;
	background: var(--background);
	display: flex;
	justify-content: center;
	align-items: center;

	.nav {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 48px;
		background: var(--background-secondary);
		border-radius: 16px;
		padding: 8px 25px;
	}

	.nav .nav-item {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		position: relative;
		z-index: 10;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		img {
			width: 20px;
		}
	}

	.nav .nav-item .dropdown {
		position: absolute;
		top: 0%;
		left: 50%;
		transform: translateX(-50%);
		background: var(--background-third);
		border-radius: 8px;
		padding: 4px 16px;
		font: normal 12px "Roboto", serif;
		color: var(--heading);
		display: none;
		z-index: 1;
	}

	.nav .nav-item:hover .dropdown {
		animation: fadeIn 0.3s ease;
		top: 160%;
		display: block;
	}
}

/* main section */

#side-bar {
	height: 100vh;
	width: 39%;
	display: flex;
	justify-content: end;
	align-items: center;
	background: var(--background);
	padding-right: 16px;
	position: sticky;
	top: 0;

	.card {
		min-width: 318.95px;
		width: 55%;
		height: 80%;
		background: #ffffff;
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 13vh;
		animation: fadeInLeftToRight 0.5s ease-in-out;
	}

	.card-header {
		width: 70%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.image-container {
		width: 100%;
		height: 300px;
		border-radius: 16px;
		overflow: hidden;
		box-shadow: var(--orange) 0px 1px 4px, var(--orange) 0px 0px 0px 3px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.name {
		margin-top: 5%;
		font: bold 23px var(--font-heading);
		cursor: default;
		color: #000000;
		letter-spacing: 4px;
	}

	.card-footer {
		width: 75%;
		font: normal 16px var(--font-text);
		cursor: default;
		color: #000000;
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 16px;

		img {
			height: 20px;
		}
	}

	.social {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
}

#main {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: start;

	.content {
		min-height: 100vh;
		width: 61%;
		display: flex;
		flex-direction: column;
		padding: 6vh 2vw;
		background: var(--background);
		animation: fadeInLeftToRight 0.5s ease-in-out;
	}

	.intro {
		min-height: 110px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
	}

	/* .intro-header {


	
		font: bolder 50px var(--font-heading);
		cursor: default;
		color: var(--heading);
		letter-spacing: 4px;
		text-align: center;
		letter-spacing: 5px;
		word-spacing: 5px;

		h1:nth-child(2) {
			margin-top: -5%;
			color: var(--heading-secondary);
		}
	} */
	.intro-body {
		width: 70%;
		font: normal 20px var(--font-text);
		cursor: default;
		color: var(--text);
	}

	.achievements {
		height: fit-content;
		width: 100%;
		display: flex;
		margin-top: 10%;
		gap: 4vw;
		padding: 0 1vw;

		.achievement {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h1 {
				font: bold 50px var(--font-heading);
				color: var(--heading);
				margin-left: -5%;
			}

			p {
				font: normal 20px "Oswald", serif;
				color: var(--text);
			}
		}
	}

	.projects {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-top: 7vh;

		.project {
			width: 90%;
			display: flex;
			margin: 2vh 0.5vw;
			position: relative;
			cursor: pointer;

			a {
				text-decoration: none;
				display: flex;
				align-items: center;
				gap: 4vh;
				/* padding: 0 1vw; */
			}
		}

		.image {
			height: 130px;
			width: 134px;
			border-radius: 16px;
			overflow: hidden;
			background-color: grey;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.info {
			h1 {
				font: bold 30px var(--font-heading-secondary);
				color: var(--heading);
			}

			p {
				font: normal 20px var(--font-text);
				color: var(--text);
			}
		}

		.arrow {
			height: 20px;
			width: 20px;
			transform: rotate(-42deg);
			position: absolute;
			top: 15%;
			right: 2%;
			transition: all 0.5s ease;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		.project:hover .arrow {
			top: 7%;
			right: 0;
		}
	}

	.skills {
		/* background: red; */
		display: flex;
		flex-direction: column;
		margin-top: 10%;

		.skills-container {
			display: grid;
			grid-template-columns: repeat(2, 2fr);
			grid-template-columns: max-content 1fr;
			grid-gap: 10px;
			padding: 10px;
		}

		.skill {
			width: 337.15px;
			display: flex;
			justify-content: start;
			align-items: center;
			gap: 20px;
			padding: 10px 90px 10px 20px;
			cursor: default;
			h1 {
				font: bold 25px var(--font-heading-secondary);
				color: var(--heading);
			}
			p {
				font: normal 20px var(--font-text);
				color: var(--text);
			}

			.image {
				height: 60px;
				width: 60px;
				background: #fff;
				border-radius: 16px;
				padding: 5px;
				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
		}

		.skill:hover {
			background: var(--background-secondary);
		}
	}

	.thoughts {
		display: flex;
		flex-direction: column;
		margin-top: 10%;
		position: relative;
		gap: 5vh;

		.thought {
			width: 100%;
			position: relative;
			padding: 3% 5% 6% 1%;
			cursor: default;
			border-radius: 5px;

			h1 {
				font: bold 26px var(--font-heading-secondary);
				color: var(--heading);
			}
			p {
				font: normal 20px var(--font-text);
				color: var(--text);
			}
			.date {
				font: bold 15px var(--font-text);
				color: var(--text);
				position: absolute;
				left: 1%;
				bottom: 3%;
			}

			.arrow {
				height: 20px;
				width: 20px;
				transform: rotate(-42deg);
				position: absolute;
				top: 15%;
				right: 4%;
				transition: all 0.5s ease;

				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
		}

		.thought:hover {
			background: var(--background-secondary);
			.arrow {
				top: 10%;
				right: 3%;
			}
		}
	}

	.contact-form {
		margin-top: 10%;

		#form {
			margin-top: 6%;
			width: 100%;
			font: bold 13px var(--font-text);
			color: var(--text);
			display: flex;
			flex-direction: column;

			gap: 4vh;

			.name-email-container {
				width: 100%;
				display: flex;
				gap: 4%;

				div {
					display: flex;
					flex-direction: column;
					gap: 5px;
				}

				input {
					height: 36px;
					max-width: 350px;
					width: 22vw;
					padding: 0 10px;
					border-radius: 5px;
					border: none;
					outline: none;
					background: rgb(53 51 52);
					color: #fff;
				}

				input::placeholder {
					color: #fff;
					opacity: 0.7;
				}

				input:focus {
					border-color: var(--orange);

					outline: 1px solid var(--orange);
				}
			}

			.subject {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 5px;
				select {
					height: 36px;
					border: none;
					border-radius: 5px;
					background: rgb(53 51 52);
					color: #fff;
					width: 46.5vw;
				}
			}

			.message {
				display: flex;
				flex-direction: column;
				width: 100%;
				gap: 10px;

				textarea {
					min-height: 100px;
					width: 46.5vw;
					background: rgb(53, 51, 52);
					display: block; /* Change from flex to block as textarea is not a flex container */
					resize: vertical;
					overflow-x: hidden; /* Prevent horizontal scrolling */
					overflow-y: auto; /* Enable vertical scrolling */
					white-space: pre-wrap; /* Ensures text wraps properly */
					color: #fff;
					border-radius: 5px;
					border: none;
					outline: none;
					padding: 1%;
				}

				textarea:focus {
					border-color: var(--orange);

					outline: 1.5px solid var(--orange);
				}

				textarea::placeholder {
					color: #fff;
					opacity: 0.7;
				}
			}
		}
	}
}

.heading {
	height: fit-content;
	width: fit-content;
	display: flex;
	flex-direction: column;
	font: bolder 50px var(--font-heading);
	color: var(--heading);
	letter-spacing: 4px;
	word-spacing: 5px;

	h1:nth-child(2) {
		margin-top: -3vh;
		color: var(--heading-secondary);
	}
}

#footer {
	height: 18vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--background);
	p {
		font: 400 16px var(--font-text);
		color: var(--text);
	}

	span {
		color: rgb(244, 108, 56);
		cursor: pointer;
	}

	span:hover {
		color: rgb(244, 108, 56);
		text-decoration: underline;
	}
}
