* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    all: unset;
    cursor: pointer;
}

:root {
    --background: #161616;
    --dark-bg: #1c1c1c;
    --light-bg: #2c2c2c;
    --white: #fff;
    --black: #000;
    --dark-white: #6a6b6e;
    --text: #998f8f;
    --orange: #f46c38;

    /* Fonts */
    --babas-neue: "Bebas Neue", serif;
    --oswald: "Oswald", serif;
    --roboto: "Roboto", serif;

    /* Sizes */
    --large: clamp(2rem, 5vw, 2.5rem);
    --small: clamp(1.2rem, 4vw, 1.5rem);
    --smallest: clamp(0.9rem, 3vw, 1rem);
}

body {
    background: var(--background);
}

#header {
    min-height: 47px;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    background: var(--dark-bg);
    border-radius: 16px;
    padding: 9px 25px;
    position: relative;
}

#header .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

#header .nav-item a {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .nav-item img {
    width: 20px;
}

#header .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--light-bg);
    border-radius: 8px;
    padding: 4px 16px;
    font: normal 12px var(--roboto);
    color: var(--white);
    display: none;
    animation: 0.4s ease-in-out tooltipAnimation;
    z-index: 1;
}

#header .nav-item:hover .tooltip {
    top: 160%;
    display: block;
}

@keyframes tooltipAnimation {
    0% {
        opacity: 0;
        top: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        top: 160%;
        opacity: 1;
    }
}

/* main section */

#main {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    position: relative;
}

#sidebar {
    height: 100vh;
    width: 39%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;
    position: sticky;
    top: 0;
    left: 0;
    overflow-y: auto;
}

#sidebar .card {
    min-width: 300px;
    width: 300px;
    min-height: 560px;
    height: 72%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background: var(--white);
}

#sidebar .card-header {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

#sidebar .image-container {
    width: 72%;
    height: 75%;
    border-radius: 16px;
    overflow: hidden;
}

#sidebar .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#sidebar .name {
    font: bold 27px var(--babas-neue);
    cursor: default;
    color: var(--black);
    letter-spacing: 3px;
}

#sidebar .card-body {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30%;
}

#sidebar .bio {
    width: 80%;
    text-align: center;
    font: normal 16px var(--roboto);
    color: var(--black);
    cursor: default;
}

#sidebar .socials {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

#sidebar .socials a {
    height: 20px;
    width: 20px;
    text-decoration: none;
}

#sidebar .socials a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Content */

#content {
    min-height: 100vh;
    width: 61%;
    display: flex;
    flex-direction: column;
    padding: 6vh 2vw;
    gap: 5vh;
    /* border: 2px solid violet; */
}

#content .intro {
    min-height: 110px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content .intro-body {
    width: 70%;
    font: normal clamp(0.9rem, 3vw, 1.2rem) var(--roboto);
    cursor: default;
    color: var(--text);
}

#content .achievements {
    height: fit-content;
    width: 100%;
    display: flex;
    gap: 4vw;
    padding: 0 1vw;
}

#content .achievements .achievement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content .achievements .achievement h1 {
    font: bold clamp(2rem, 5vw, 3rem) var(--oswald);
    color: var(--white);
    margin-left: -5%;
}

#content .achievements .achievement p {
    font: normal clamp(0.9rem, 3vw, 1.2rem) var(--oswald);
    color: var(--text);
}

#content .projects {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#content .projects .project {
    width: 98%;
    display: flex;
    margin: 2vh 0.5vw;
    position: relative;
}

#content .projects .project a {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4vh;
}

#content .projects .image {
    height: 130px;
    width: 134px;
    border-radius: 16px;
    overflow: hidden;
}

#content .projects .project .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#content .projects .info h1 {
    font: bold clamp(1.5rem, 4vw, 2rem) var(--oswald);
    color: var(--white);
}

#content .projects .info p {
    font: normal 15px var(--roboto);
    color: var(--text);
}

#content .projects .arrow {
    height: 20px;
    width: 20px;
    transform: rotate(-42deg);
    position: absolute;
    top: 15%;
    right: 2%;
    transition: all 0.4s ease;
}

#content .projects .arrow img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#content .projects .project:hover .arrow {
    top: 7%;
    right: 0;
}

#content .skills {
    display: flex;
    flex-direction: column;
}

#content .skills .skills-container {
    /*min-width: 454px;*/
    min-width: 80.9%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 10px;
    padding: 10px;
}

#content .skills .skill {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 10px;
    cursor: default;

}

#content .skills .skill .info h1 {
    /*font: bold clamp(0rem, 2rem, 1.5rem) var(--oswald);*/
    font: bold clamp(1rem, 3vw, 1.5rem) var(--oswald);
    color: var(--white);
}

#content .skills .skill .info p {
    font: normal clamp(0.7rem, 3vw, 1.2rem) var(--roboto);
	/*font-size: 3vw;*/
    color: var(--text);
}

#content .skills .skill:hover {
    background: var(--dark-bg);
}

#content .skills .skill .image {
    height: clamp(40px, 6vw, 60px);
    width: clamp(40px, 6vw, 60px);
    background: var(--white);
    border-radius: 14px;
    padding: 5px;
}

#content .skills .skill .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#content .thoughts {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5vh;
}

#content .thoughts .thought {
    width: 100%;
    position: relative;
    padding: 3% 5% 6% 1%;
    cursor: default;
    border-radius: 5px;

    .arrow {
        height: 20px;
        width: 20px;
        transform: rotate(-42deg);
        position: absolute;
        top: 15%;
        right: 4%;
        transition: all 0.5s ease;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

#content .thoughts .thought h1 {
    font: bold clamp(1.2rem, 4vw, 1.6rem) var(--oswald);
    color: var(--white);
}

#content .thoughts .thought p {
    font: normal clamp(0.9rem, 3vw, 1.2rem) var(--roboto);
    color: var(--text);
}

#content .thoughts .thought .date {
    font: bold 15px var(--roboto);
    color: var(--text);
    position: absolute;
    left: 1%;
    bottom: 3%;
}

#content .thoughts .thought:hover {
    background: var(--light-bg);
}

#content .thoughts .thought:hover .arrow {
    top: 10%;
    right: 3%;
}

/* #content .contact-form {
} */

#form {
    margin-top: 5%;
    width: 100%;
    font: bold 13px var(--roboto);
    color: var(--text);
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#form .name-email-container {
    width: 100%;
    display: flex;
    gap: 3%;
}

#form .name-email-container div {
    width: 38%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#form .name-email-container input {
    height: 34px;
    width: 100%;
    background: #353334;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 2%;
    color: var(--white);
}

#form .name-email-container div input::placeholder {
    color: var(--white);
	font-weight: normal;
    opacity: 0.5;
}

#form .name-email-container input:focus {
    border-color: var(--orange);
    outline: 1px solid var(--orange);
}

#form .subject {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#form .subject select {
    height: 36px;
    width: 79%;
    border: none;
    border-radius: 5px;
    background: #353334;
    color: var(--white);
    outline: none;
}

#form .message {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

#form .message textarea {
    min-height: 120px;
    width: 79%;
    background: rgb(53, 51, 52);
    resize: vertical;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 1%;
}

#form .message textarea:focus {
    border-color: var(--orange);
    outline: 2px solid var(--orange);
}

#form .message textarea::placeholder {
    color: #fff;
    opacity: 0.5;
}

#form .button {
    width: 100%;
}

#form .button button {
    color: var(--white);
    min-height: 34px;
    width: 79%;
    background: var(--orange);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#form .button button:hover {
    background: hsla(17, 89%, 60%, 0.931);
}

#form .error-message {
    font-weight: normal;
    font-size: 12px;
    color: red;
    display: none;
}

.heading {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    font: bolder clamp(2rem, 5vw, 3rem) var(--babas-neue);
    color: var(--white);
    letter-spacing: 4px;
    word-spacing: 5px;

    h1:nth-child(2) {
        margin-top: -15px;
        color: var(--dark-white);
    }
}

#footer {
    height: 18vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background);

    p {
        font: 400 clamp(0.7rem, 2vw, 1rem) var(--roboto);
        color: var(--text);
    }

    span {
        color: rgb(244, 108, 56);
        cursor: pointer;
    }

    span:hover {
        color: rgb(244, 108, 56);
        text-decoration: underline;
    }
}

.hide {
    visibility: hidden;
}

.animated-component {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
}

.animated-component.show {
    opacity: 1;
    transform: translateY(0);
}

.hidden {
    opacity: 0;
}

/* @keyframes animate {
	from {
		transform: translateY(-10%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
} */

@media (max-width: 900px) {
    #main {
        display: flex;
        justify-content: start;
        flex-direction: column;
    }

    #sidebar {
        width: 100%;
        position: inherit;
        justify-content: center;
    }

    #content {
        width: 100%;
    }

    #sidebar .card {
        width: 60%;
        height: 80%;
    }

    #sidebar .image-container {
        width: 50%;
    }

    #sidebar .socials a {
        height: 25px;
        width: 25px;
        text-decoration: none;
    }

    /*#content .skills .skill h1 {*/
    /*    font-size: 20px;*/
    /*}*/
    /*#content .skills .skill p {*/
    /*    font-size: 15px;*/
    /*}*/
    /*#content .skills .image {*/
    /*    height: 40px;*/
    /*    width: 40px;*/
    /*}*/
}

@media (max-width: 530px) {
    /*#content .skills .skill h1 {*/
    /*    font-size: 15px;*/
    /*}*/
    /*#content .skills .skill p {*/
    /*    font-size: 10px;*/
    /*}*/
    /*#content .skills .skill .image {*/
    /*    height: 30px;*/
    /*    width: 30px;*/
    /*}*/
    /*#content .skills .skills-container {*/
    /*    min-width: 80%;*/
    /*}*/
    #sidebar .image-container {
        width: 80%;
    }

    /*.heading {*/
    /*    font-size: 30px;*/
    /*}*/
    #form {
        width: 95%;
        margin: auto;
    }

    #form .name-email-container div {
        width: 50%;
    }

    #form .subject select,
    #form .message textarea,
    #form .button button {
        width: 100%;
    }
}

@media (max-width: 391px) {
    #content .intro-body {
        width: 100%;
        font: normal 15px var(--roboto);
        cursor: default;
        color: var(--text);
    }

    /*#content .achievements .achievement h1 {*/
    /*    font-size: 30px;*/
    /*}*/
    /*#content .achievements .achievement p {*/
    /*    font-size: 15px;*/
    /*}*/
    /*#content .projects .image {*/
    /*    height: 100px;*/
    /*    width: 104px;*/
    /*}*/
    /*#content .thoughts .thought h1 {*/
    /*    font-size: 20px;*/
    /*}*/
    /*#content .thoughts .thought p {*/
    /*    font-size: 14px;*/
    /*}*/
}
